.invisible{
    display: none;
}

.visible {
    display: block;
}

.colours{
    position: relative;
    float: left;
    top: 70px;
}
.RED{
color: red;
}
.GREEN{
color: green;
}
.BLUE{
color:blue;
}
.BLACK{
color:black;
}
.PINK{
color:pink;
}
.GOLD{
color:gold;
}