.banner{
background:rgb(117, 64, 117);
display: flex;
justify-content:space-between;
}
.header{
  display: flex;
  justify-content: center;
  padding-left: 4%;
}

.profile{
  margin: 0 2%;
  font-size: large;
}